body{
	margin:0;
	box-sizing: border-box;
	
}
@font-face {
  font-family: "Kaushan";
  src: url(../fonts/KaushanScript-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "yn";
  src: url(../fonts/yn.ttf) format("truetype");
}
#header{
	width:100%;
	background-color: white;
	border-bottom: 1px solid silver;
	height:90px;	
}
.test{
	position:fixed;
}
#menu-trigger {
    width: 25px;
    height: 25px;
    cursor: pointer;
    float:right;
    margin:0 20px 0 10px;
}

#menu-trigger .line-wrap .line {
    background-color: dodgerblue;
}
.line-wrap .line {
    width: 25px;
    height: 3px;
}
.line-wrap .line.center {
    margin: 5px 0;
}
.header-inner {
    padding: 40px;
}
#menu-trigger1 {
    width: 25px;
    height: 25px;
    cursor: pointer;
    float:right;
    margin:0 20px 0 10px;
}
#menu1{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.h-inner {
    padding: 40px 40px 0 0;
}
.line1 {
    width: 25px;
    margin: 5px 0;
    background-color: dodgerblue;
    height: 3px;
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.line2 {
    width: 25px;
    height: 3px;
  	margin: 5px 0;
    background-color: dodgerblue;
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}
#log{
	font-family: Arial;
	font-weight: bold;
	color:dodgerblue;
	font-size: 14px;
	padding-top: 2px;
	float:right;
}
h2{
	font-family: Kaushan;
	color:grey;
	font-size: 20px;
	
}
#main-content{
	position: absolute;
	z-index: 0;
	width:100%;
	height: 100%;
	background-color: white;
	
}
#container{
	position: absolute;
	width: 100%;
}
#main-head{
	padding:200px 0 10px 0;
}
.container{
	background-color: white;
	height: 120%
}
h1{
	font-family: Arial;
	max-width:500px;
	font-weight: bold;
	color:#46523C;
}
.footer{
	margin: 350px 0 0 70px;
	padding-bottom: 20px;
}
.footer p{
	color:steelblue;
	font-size: 12px;
	font-family:yn;
	font-weight: bold;
}
.footer a{
	color:dodgerblue;
}
#para{
	margin: 0;
	display: inline-block;
}
#paraimg{
	margin-left: 10px;
	display: inline-block;
	position: absolute;
	float:right;
}
.soid{
	display: inline;
	float:right;
	width:250px;
	height:20%;
}

.footer img{
	background-color: white;
	border-radius: 20px;
}
.footer img:hover{
	background-color: dodgerblue;
}


#dialog-1{
	position: absolute;
	top:0;
	z-index: -1;
	background-color: rgba(255,255,255, 1);
}

.fullscreen{
	width:100%;
	height: 130%;
}
.form{
	padding-top: 120px;
}
#ftext{
	width: 600px;
	height:30px;
	margin-bottom: 20px;
	padding: 20px;
	border: 2px solid dodgerblue;
	box-sizing: border-box;
	font-family: "Times New Roman";
	font-size: 18px;
}
#button{
	width: 150px;
	background: dodgerblue;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#button:hover{
	color:crimson;
	box-shadow: 0 0 0 2px crimson;
}
.newsletter{
	width:90%;
	margin:70px 0px 0 5%;
	border:1px solid crimson;
	min-height: 135px;
	height:auto;
	padding-top:6px;
	background-color: dodgerblue;
	position: relative;
}
.newsletter p{
	font-family: Arial;
	color:white;
	padding:20px 0 0 150px;

}
#letter{
	font-weight: bold;
	font-size: 18px;
}
.newsletter ul li{
	display: inline-block; 
}
#m1{
	display:inline-block;
	width:40%;
	max-height:100px;
}
.m2{
	display:inline-block;
	padding:20px;
	position: absolute;
	margin: 20px 0 0 10px;
	width:40%;
}
#lettermail{
	height: 40px;
	width:80%;
	font-size: 20px;
	padding-left: 20px;
}
#butn{
	height:46px;
	width:50px;
	margin-left:-5px;
	cursor: pointer;
	padding-top: 4px;
	background-color: steelblue;
	border:1px solid steelblue;
}
.sobot{
	margin-top: 35px; 
}
.sobot img{
	border-radius: 20px;
}
.sobot img:hover{
	background-color: dodgerblue;
}